/* Couleurs : Jaune/Vert : #CCCC33 */

.principal{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: 5fr 5fr 5fr 5fr 5fr;
    gap: 5px;
    color: white;
    padding: 10px;
    font-size:30px;
    
   
    
}

section {
    background-color:  #CCCC33; 
}

#s1 {
    grid-column-start: 1;
    grid-column-end: 5;
    
}

#s2 {
    grid-column: 1;
    grid-row:  2/6; 
}

#s4 {
    grid-column-start: 3;
    grid-column-end: 5;
}

#s5 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#s10 {
    grid-column-start: 2;
    grid-column-end: 5;
}


