 fieldset{
    display: flex;
    gap:  40px;
    margin: auto;
    width: 400px;
    height: 200px;
    padding: 10px;
    justify-content: center;
    background-color: bisque;
    border-color: rgb(197, 174, 42); 
    border-radius: 100%;
   
  }
  h1{
    margin-left: 40px; 
    color: blue;
  }
  
  p{
    margin-left: 55px;
  }

input{
   margin-left: 13px;
  }
    

#counter{
   color: blue;
   font-size: 1.5rem;
  }
  body{
    margin-top: 50px;
  }