<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change couleur</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./JS/main.js" type="module"></script>
</head>

<body>
    
    <div id="appColors">
    <div id="background" :style="{'background-color': backgroundClr }">    
        <fieldset>
        <h1>Changement de couleurs</h1>
        <br>
        <form>

            <input type="text" v-model="redInput" maxlength="2" pattern="[A-F0-9]{2}" @input="inputColor">
            <button type="button" @click="changeColor" data-clr="red">Rouge</button>
            
            <input type="text" v-model="greenInput" maxlength="2" pattern="[A-F0-9]{2}" @input="inputColor">
            <button type="button" @click="changeColor" data-clr="green">Vert</button>
            
            <input type="text" v-model="blueInput" maxlength="2" pattern="[A-F0-9]{2}" @input="inputColor">
            <button type="button" @click="changeColor"   data-clr="blue">Bleu</button>
             
        </form>
   </fieldset>
    </div>
    </div>

</body>
</html>